.nav {
    position: absolute;
    z-index: 100;
    top: 0;
    height: 100vw;
    animation: slideIn 0.5s forwards;

    &__logo {
        padding: 13px 20px 13px 0;
        background-color: transparent;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__close {
        width: 36px;
        cursor: pointer;
    }

    &__burger {
        width: 36px;
        position: absolute;
        left: 28px;
        top: 28px;

        cursor: pointer;
    }

    &__menu {
        display: block;
        visibility: visible;
    }
}

.logo {
    &__image {
        width: 113.33px;
        height: 17px;
        color: #181818;
    }
}

.menu {
    &__list {
        padding: 18px 0 10px 0;
    }

    &__item {
        padding: 5px 0;
        margin-bottom: 16px;
    }

    &__link {
        color: #ffffff;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}

.slide-out {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    0% {
        left: -302px;
    }
    100% {
        left: 0;
    }
}

@keyframes slideOut {
    0% {
        left: 0;
    }
    100% {
        left: -302px;
    }
}
