@font-face {
    font-family: 'StratosSkyeng';
    src: local('StratosSkyeng'), local('StratosSkyeng'),
        url('/src/fonts/StratosSkyeng.woff2') format('woff2'),
        url('/src/fonts/StratosSkyeng.woff') format('woff'),
        url('/src/fonts/StratosSkyeng.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}